* {
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  font-family: "Roboto", Arial;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
body {
  margin: 0px;
  padding-top: 80px;
  padding-left: 80px;
}
@media (max-width: 480px) {
  body {
    margin: 0px;
    margin-top: 80px;
    padding-bottom: 20px;
  }
}
